plugged
clash
iterm2
yarn
configstore
.DS_Store
raycast
rio

# karabiner/assets
karabiner
# karabiner/automatic_backups
fish/fish_variables
secrets.fish

nvim/plugin/packer_compiled.lua
  
github-copilot 
zed
